@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.s-c{
    color: rgb(4,147,211);
}


body{
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}
header{
    width: 100%;
    position: sticky;
    top: 0px;
    margin-top: 50px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
}
.closure{
    font-style: italic;
    margin-right: 30px;
}
.icon {
    display: flex;
    justify-content: center;
}

.moon,.sun{
   padding: 7px;
   border-radius: 5px;
}
.moon:hover,.sun:hover{
   background-color: rgba(236, 236, 236, 0.199);
   cursor: pointer;
}

.sun{
    display: none;
    fill: white;
}

/* section styling  */
#info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 700px;
    padding: 20px ;
    padding-top: 50px;
    margin: 0px 6px;
}
#info p{
    font-size: 1.2rem;
    line-height: 1.7;
    margin: 20px 0;
}
#info hr{
    width: 100%;
    border-width: .5px;
    border-color: rgba(230, 230, 230, 0.568);
    margin: 20px 0;
}
#info h2{
    margin: 20px 0;
}
.code-div{
    width: 100%;
    padding: 15px;
    background-color: rgb(247, 247, 247);
    border-radius: 6px;
}
.code-div span{
    line-height: 1.7;
    font-family: consolas;
}


/* footer styling */

.footer-1 {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   padding: 20px;
}
.footer-2 {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.footer-3 {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 20px;
}




/* media query */

@media screen and (max-width:990px){
 
    #info{
        width: 80vw;
    }
}

@media screen and (max-width:468px){
    .closure {
        font-size: 5vw;
    }
    .heading{
        font-size: 5vw;
    }
}